html {
    font-size: 62.5%;
	background-color: lightblue;
	height:100%;
}
body {
    font-size: 2em; 
    line-height: 2; 
	height:100%;
}

div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}
.left {
    float: left;
}
.w50 {
    width: 50%;
}